.cluster {
  overflow: hidden;
  --flow-space: 1.5rem;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--flow-space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--flow-space) / 2);
}
