---
title: '{{ .specification.name }}'
sidebar_position: {{ .index }}
---

import ReactDiffViewer from 'react-diff-viewer';
import Chip from '@mui/material/Chip';
import Box from "@mui/system/Box";

# `{{ .specification.name }}`

{{ .specification.summary }}

## Description

{{ .specification.description }}

## Configuration parameters

| Name | Type | Default | Description |
|------|------|---------|-------------|
{{- range $name, $param := .specification.parameters }}
| `{{ $name }}` | {{ $param.type }} | {{ formatParameterValue $param.default }} | {{ $param.description }} |
{{- end }}

## Examples

{{ range $e := .examples -}}
### {{ $e.summary }}

{{ $e.description }}

#### Configuration parameters

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  {{- range $name, $value := $e.config }}
  <tr>
    <td>`{{ $name }}`</td>
    <td>
{{ formatParameterValue $value }}
    </td>
  </tr>
  {{- end }}
</table>

#### Record difference

```mdx-code-block
<Box className='diff-viewer'>
  <ReactDiffViewer
    styles={{`{{`}}
      diffContainer: {
        overflowX: 'auto',
        overflowY: 'hidden',
      },
    {{`}}`}}
    leftTitle={'Before'}
    rightTitle={'After'}
    oldValue={'{"foo":"bar"}'}
    newValue={'{"foo":"qux"}'}
    hideLineNumbers={false}
    showDiffOnly={false}
    splitView={true}
  />
</Box>
```
{{- end }}